@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
margin:50px 0 ;
}

.card {
    margin: 0 3% !important;
}

.infected {
    border-bottom: 10px solid rgba(41, 41, 231, 0.856);
}
.recovered {
    border-bottom: 10px solid rgba(16, 216, 16, 0.685);
} 
.deaths {
    border-bottom: 10px solid rgba(209, 22, 22, 0.698);
}

@media (max-width:770px){
    .card {
        margin: 2% 0 !important;
    }
}